<main class="page__main">

    <section class="principal">
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sequi aliquam iure aspernatur porro ut molestiae perferendis in culpa repudiandae tenetur, aperiam numquam tempora adipisci, ipsum laborum impedit. Vel, maxime.</p>
    </section>
    <section class="button">
        <h2 class="title_button">Esto es un botón rojo</h2>
        <button class="botonrojo"> NO PULSES EL BOTÓN ROJO¡¡¡</button>
    </section>
</main>
